<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/index.css" />
    </head>
    <body>
        <main>
            <section class="flex">
                <div>
                    <h1>SMS Sender</h1>
                    <p>Send SMS to our customers</p>
                </div>
                <div class="form">
                    <form method="post" id="form">
                        <div>
                            <label for="senderName">Sender Name</label>
                            <input
                                type="text"
                                name="senderName"
                                id="senderName"
                            />
                        </div>
                        <div>
                            <label for="phoneNumber">Phone number</label>
                            <input
                                type="tel"
                                id="phoneNumber"
                                name="phoneNumber"
                                pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
                            />
                        </div>
                        <div>
                            <label for="message">SMS Message</label>
                            <textarea
                                name="message"
                                id="message"
                                cols="30"
                                rows="7"
                                placeholder="Message"
                            ></textarea>
                        </div>
                        <p><%= message %></p>
                        <input
                            type="submit"
                            id="btn"
                            class="btn"
                            value="Send Message"
                        />
                    </form>
                </div>
            </section>
        </main>
        <script type="module" src="/app.js"></script>
    </body>
</html>
